<div class="welcome jumbotron">
  <h1>Football League Table</h1>
  <p>An app to help you navigate this year's footable result.</p>
  <p>Navigate through the date using your left or right arrow key.</p>
<button class="enter btn btn-primary btn-lg " ng-click='next()'>Enter</button>
</div>

<div class="wrap hide">

  <div class="datePicker" ng-model = day>

     <button type="button" class="btn btn-default" ng-click='prev()'>
      <span class="glyphicon glyphicon-chevron-left"></span> 
    </button>

      <h2 id='choosedDay'><span class="label label-success">{{dates[day].format('MMM Do YY')}}</span></h2>

    <button type="button" class="btn btn-default" ng-click='next()'>
      <span class="glyphicon glyphicon-chevron-right"></span> 
    </button>
   
</div>


  <div class="leagueTable col-md-8">
  
    <h3> League Table</h3>
    <table class="table table-striped">
          <thead>
            <tr>
              <th>Pos</th>
              <th>Team</th>
              <th>P</th>
              <th>W</th>
              <th>D</th>
              <th>L</th>
              <th>F</th>
              <th>A</th>
              <th>GD</th>
              <th>Pts</th>
          </tr>
          </thead>
          <tbody ng-model = table>
            <tr ng-repeat = 't in table | orderBy:false' >
              <td>{{$index+1}}</td>
              <td>{{t.name}}</td>
              <td>{{t.P}}</td>
              <td>{{t.W}}</td>
              <td>{{t.D}}</td>
              <td>{{t.L}}</td>
              <td>{{t.F}}</td>
              <td>{{t.A}}</td>
              <td>{{t.GD}}</td>
              <td>{{t.Pts}}</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class='col-md-4 result'>
      <h3 ng-click='res = getMatchesOnDate(matches,dates[day])'>Results</h3>
      <table class="table table-striped">
          <thead>
            <tr>
              <th>Home Team</th>
              <th>Score</th>
              <th>Away Team</th>
            </tr>
          </thead>
          </thead>
          <tbody ng-model = res>
            <tr ng-repeat='r in res'>
              <td><span class="label label-danger">{{teams[r.homeTeamId-1].name}} </span></td>
              <td><span class="badge">{{r.homeGoals}}  : {{r.awayGoals}} </span></td>
              <td><span class="label label-info"> {{teams[r.awayTeamId-1].name}}</span> </td> 
            </tr>
          </tbody>
      </table> 
    </div>
</div>

